<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 col-md-6 bg-light rounded border p-3">
      <h2 class="text-center">Create an Order</h2>
      <form #createOrderForm="ngForm" (submit)="createOrder()">
        <div class="mb-3 mt-3">
          <label for="table" class="form-label">Table</label>
          <select type="number" class="form-select" id="table" name="table" required aria-describedby="tableHelp"
            [attr.disabled]="!tables || !tables.length" [(ngModel)]="createOrderRequest.table">
            <option *ngFor="let table of tables" [value]="table">{{table}}</option>
          </select>
          <div id="tableHelp" class="form-text">If you don't find the table you are
            looking for, please assign
            yourself <a routerLink="/table/list">here</a></div>
        </div>
        <div class="row">
          <span class="form-label mb-3">Order Type</span>
          <div class="col text-center">
            <button class="btn btn-lg btn-block w-100" type="button" (click)="selectedCategory='drinks'"
              [ngClass]="{'btn-primary': selectedCategory === 'drinks'}" [attr.disabled]="!tables || !tables.length"
              [ngClass]="{'disabled': selectedItems.length === 0}">
              <div>
                <i class="bi bi-cup-straw" style="font-size: 48px;"
                  [ngStyle]="selectedCategory === 'drinks' ? {'color': '#46954a'} : null"></i>
              </div>
              <div class="mt-2">Drinks</div>
            </button>
          </div>
          <div class="col text-center">
            <button class="btn btn-lg btn-block w-100" (click)="selectedCategory='food'" type="button"
              [ngClass]="{'btn-primary': selectedCategory === 'food'}" [attr.disabled]="!tables || !tables.length"
              [ngClass]="{'disabled': selectedItems.length === 0}">
              <div>
                <!-- Colored egg SVG -->
                <svg *ngIf="selectedCategory === 'food'" xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                  viewBox="0 0 16 16">
                  <path d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" fill="#FFC107" />
                  <path
                    d="M13.997 5.17a5 5 0 0 0-8.101-4.09A5 5 0 0 0 1.28 9.342a5 5 0 0 0 8.336 5.109 3.5 3.5 0 0 0 5.201-4.065 3.001 3.001 0 0 0-.822-5.216zm-1-.034a1 1 0 0 0 .668.977 2.001 2.001 0 0 1 .547 3.478 1 1 0 0 0-.341 1.113 2.5 2.5 0 0 1-3.715 2.905 1 1 0 0 0-1.262.152 4 4 0 0 1-6.67-4.087 1 1 0 0 0-.2-1 4 4 0 0 1 3.693-6.61 1 1 0 0 0 .8-.2 4 4 0 0 1 6.48 3.273z"
                    fill="#FFFFFF" />
                </svg>
                <i *ngIf="selectedCategory !== 'food'" class="bi bi-egg-fried" style="font-size: 48px;"></i>
              </div>
              <div class="mt-2">
                Food
              </div>
            </button>
          </div>
        </div>
        <div class="row mt-3" *ngIf="selectedCategory">
          <span class="form-label">Available Items</span>
          <div class="col-6 mt-3" *ngFor="let item of items[selectedCategory]">
            <div class="d-flex justify-content-between">
              <div class="input-group">
                <button class="form-control btn btn-lg" (click)="addItem(item)" type="button">
                  {{ item.name }} ({{getItemCount(item)}})
                </button>
                <button class="btn btn-danger btn-lg input-group-text d-flex align-items-center"
                  (click)="removeItem(item)" type="button">
                  <i class="bi bi-x-lg"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-success w-100 mt-3" type="submit" *ngIf="selectedCategory"
          [ngClass]="{'disabled': selectedItems.length === 0}">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
