.orders-list {
    max-height: calc(100vh - 340px);
    overflow-y: scroll;
    position: relative;
}

.ready-order-card {
    border: 1px solid #007bff;
}

.served-order-card {
    border: 1px solid #46954a;
}

::-webkit-scrollbar {
    display: none;
}

.prep-time-text {
    font-size: 12px;
    color: #768390 !important;
}
