/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    background-color: #1C2128;
    color: #adbac7;
}

.btn {
    border-radius: 6px;
    border: 1px solid #444c56;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
    background-color: #373e47;
    color: #adbac7;
}

.btn:hover {
    background-color: #444c56;
    border: 1px solid #768390;
    color: #adbac7;
}

.btn-success {
    background-color: #347d39;
    border: none;
    color: white;
}

.btn-success:hover {
    background-color: #46954a;
    color: white;
    border: none;
}

.btn-outline {
    color: #adbac7;
    background-color: transparent;
    border: 1px solid #444c56;
}

.btn-outline:hover {
    background-color: #444c56;
    border: 1px solid #444c56;
    color: #adbac7;
}

.btn-outline-success {
    color: #46954a;
    background-color: transparent;
    border: 1px solid #46954a;
}

.btn-outline-success:hover {
    background-color: #46954a;
    border: 1px solid #46954a;
    color: white;
}

.btn-danger {
    background-color: transparent;
    color: #CF222E;
}

.btn-danger:hover {
    background-color: #d73a49;
    border: 1px solid #d73a49;
    color: white;
}

.btn-outline-danger {
    color: #d73a49;
    background-color: transparent;
    border: 1px solid #d73a49;
}

.btn-outline-danger:hover {
    background-color: #d73a49;
    border: 1px solid #d73a49;
    color: white;
}

.btn-info {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: white;
}

.btn-info:hover {
    background-color: #2a8ef9;
    border: 1px solid #2a8ef9;
    color: white;
}

.btn-outline-info {
    color: #007bff;
    background-color: transparent;
    border: 1px solid #007bff;
}

.btn-outline-info:hover {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: white;
}

.btn-warning {
    background-color: #f66d0a;
    border: none;
    color: white;
}

.btn-warning:hover {
    background-color: #f66d0a;
    color: white;
}

.btn-outline-warning {
    color: #f66d0a;
    background-color: transparent;
    border: 1px solid #f66d0a;
}

.btn-outline-warning:hover {
    background-color: #f66d0a;
    border: 1px solid #f66d0a;
    color: white;
}

a {
    text-decoration: none;
    color: #adbac7;
}

.nav-tabs .nav-link {
    color: #adbac7;
    cursor: pointer;
}

.nav-link.active {
    border-bottom: 2px solid #ec7652;
}

.border {
    border: #444c56;
}

.list-group-item {
    background-color: rgb(45, 51, 59);
}

.card-header {
    background-color: #22272E;
}

.card-body {
    background-color: #22272E;
}

.nav-tabs .nav-link {
    background-color: transparent;
    border: none;

    &:hover {
        background-color: #2A3038;
    }

    &.active {
        background-color: transparent;
        border-bottom: 2px solid #ec7652;
    }
}

.btn-primary {
    background-color: #2b3036 !important;
    border-color: #2b3036 !important;
}

.btn-outline-primary {
    color: white !important;
    border-color: #2b3036 !important;
}

.btn-outline-primary:hover {
    background-color: #2b3036 !important;
    border-color: #2b3036 !important;
    color: white !important;
}

.btn.disabled {
    background-color: #2b3036 !important;
    border: 1px solid #2b3036 !important;
    color: #adbac7 !important;
    opacity: 0.5;
    cursor: not-allowed;
}
