<div class="mt-4 pt-2 container">
  <h2 class="pb-3">Orders</h2>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active d-flex align-items-center" [class.active]="activeTab === 'new'"
        (click)="getOrders(OrderStatus.New)">
        <i class="bi bi-plus-circle-fill me-2"></i>
        New
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" [class.active]="activeTab === 'preparing'"
        (click)="getOrders(OrderStatus.Preparing)">
        <i class="bi bi-stopwatch-fill me-2"></i>
        In Preparation
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" [class.active]="activeTab === 'done'"
        (click)="getOrders(OrderStatus.Done)">
        <i class="bi bi-check-circle-fill me-2"></i>
        Ready
      </a>
    </li>
  </ul>
  <div class="container mt-4">
    <p *ngIf="orders.length === 0">
      No more orders here!
    </p>
    <div *ngIf="orders.length > 0" class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 mt-2" *ngFor="let order of orders; let i = index">
        <div class="card mb-3">
          <div class="card-header d-flex justify-content-between" [ngClass]="{ 'bg-success': activeTab === 'done' }">
            <small class="text-muted d-flex align-items-center">
              <i class="bi bi-clock me-1" [ngStyle]="{ 'color': activeTab === 'done' ? 'white' : null }"></i>
              <span [ngStyle]="{ 'color': activeTab === 'done' ? 'white' : null }">
                {{order.createdAt | date: 'shortTime'}}
              </span>
            </small>
            <button *ngIf="activeTab === 'new'" type="button" class="btn btn-sm btn-info" (click)="prepare(order._id)"
              [ngClass]="{ 'disabled': i !== 0 }">
              Prepare
            </button>
            <small *ngIf="activeTab === 'done'" class="text-muted d-flex align-items-center">
              <i class="bi bi-clock me-1" [ngStyle]="{ 'color': activeTab === 'done' ? 'white' : null }"></i>
              <span [ngStyle]="{ 'color': activeTab === 'done' ? 'white' : null }">
                {{order.updatedAt | date:'shortTime'}}
              </span>
            </small>
          </div>
          <div class="card-body">
            <h5 class="card-title">Order #{{order.number}}</h5>
            <div *ngIf="activeTab === 'new' || activeTab === 'done'" class="mt-2">
              <div *ngFor="let item of order.items | groupItems" class="d-flex justify-content-between">
                <p class="card-text">{{item.count}}x {{item.item.name}}</p>
              </div>
            </div>
            <div *ngIf="activeTab === 'preparing'" class="progress mt-2" style="height: 10px;">
              <div class="progress-bar" role="progressbar" [style.width.%]="getPreparationProgress(order)"
                [style.backgroundColor]="getProgressBarColour(order)"
                [attr.aria-valuenow]="'getPreparationProgress(order)'" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
          <ul *ngIf="activeTab === 'preparing'" class="list-group list-group-flush">
            <li *ngFor="let item of order.items" class="list-group-item">
              <div class="d-flex justify-content-between align-items-center">
                <p class="m-0">{{item.name}}</p>
                <button *ngIf="item.status === 'preparing'" type="button" class="btn btn-sm btn-success"
                  (click)="done(order._id, item._id)">
                  Done
                </button>
                <i *ngIf="item.status === 'done'" class="bi bi-check-lg" style="color: #46954a"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
