<div class="container">
  <nav class="navbar navbar-expand-lg rounded" aria-label="Thirteenth navbar example">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11"
      aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
      <a class="navbar-brand col-lg-3 me-0" href="#">🍔 Orders</a>
      <ul class="navbar-nav col-lg-6 justify-content-lg-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a *ngIf="currentUserRole == UserRole.Cashier" class="nav-link" routerLink="/user/list"
            routerLinkActive="active">Users</a>
          <a *ngIf="currentUserRole == UserRole.Waiter" class="nav-link" routerLink="/table/list"
            routerLinkActive="active">Tables</a>
          <a *ngIf="currentUserRole == UserRole.Cook || currentUserRole == UserRole.Bartender" class="nav-link"
            routerLink="/order/list" routerLinkActive="active">Orders</a>
        </li>
      </ul>
      <div *ngIf="!isLoggedIn" class="d-lg-flex col-lg-3 justify-content-lg-end">
        <a routerLink="/user/login" class="btn btn-outline btn-sm me-2">Login</a>
        <a routerLink="/user/register" class="btn btn-success btn-sm">Register</a>
      </div>
      <div *ngIf="isLoggedIn" class="d-lg-flex col-lg-3 justify-content-lg-end">
        <button (click)="logout()" class="btn btn-sm me-2">Logout</button>
      </div>
    </div>
  </nav>
</div>
