<div class="container mt-5 mb-2">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="width: 350px;">
        <div class="card shadow mt-2 p-4" style="background-color: #2b3036;">
          <h2 class="fs-4 font-medium text-center">Registration</h2>
          <div *ngIf="errorMessage" class="alert alert-danger mt-2" style="white-space: pre-wrap;">
            {{ errorMessage }}
          </div>
          <form (submit)="onRegister()">
            <div class="mb-3 mt-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" [(ngModel)]="user.username" name="username"
                required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password"
                required>
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name" required>
            </div>
            <div class="mb-3">
              <label for="role" class="form-label">Role</label>
              <select class="form-control form-select" id="role" [(ngModel)]="user.role" name="role">
                <option *ngFor="let role of userRoles; let i = index" [value]="role">{{role}}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-success w-100">Register</button>
          </form>
          <small class="text-center text-muted mt-3 fs-13">
            Already have an account? <a routerLink="/users/login">Login</a>
          </small>
        </div>
      </div>
    </div>
  </div>
