<div class="container mt-5">
  <ul *ngFor="let user of users" class="list-group">
    <li class="list-group-item mb-3 p-3 rounded">
      <div class="row">
        <div class="col">
          <img
            src="https://ui-avatars.com/api/?name={{ user.name }}&background=random"
            alt="user avatar"
            class="rounded-3"
            width="50"
            height="50"
          />
        </div>
        <div class="col">
          <div class="row">
            <div class="col-6">
              <h5 class="mb-0">{{ user.name }}</h5>
              <small class="text-muted">{{ user.role.charAt(0).toUpperCase() + user.role.slice(1) }}</small>
            </div>
            <div class="col-6">
              <div class="d-flex justify-content-end align-items-center">
                <button
                  class="btn btn-sm btn-outline-danger"
                  (click)="onDelete(user.username)"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </li>
  </ul>
</div>
