<div class="mt-4 pt-2 container-sm">
  <h2 class="pb-3">Orders</h2>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" [class.active]="activeTab === 'new'" (click)="getOrders(OrderStatus.New)">New</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'preparing'" (click)="getOrders(OrderStatus.Preparing)">In Preparation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'done'" (click)="getOrders(OrderStatus.Done)">Ready</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'served'" (click)="getOrders(OrderStatus.Served)">Served</a>
    </li>
  </ul>
  <div class="container mt-5">
    <div class="row">
      <p *ngIf="orders.length === 0">
        No orders here!
      </p>
      <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let order of orders">
        <div class="card mb-3">
          <div class="card-body">
            <small class="text-muted d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock me-2" viewBox="0 0 16 16">
                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
              </svg>
              {{order.createdAt | date:'HH:MM'}}
            </small>
            <h5 class="card-title mt-3">Table #{{order.table}}</h5>
            <div *ngFor="let item of order.items | groupItems">
              <div class="d-flex justify-content-between">
                <p class="card-text">{{item.count}}x {{item.name}}</p>
              </div>
              <div class="d-flex justify-content-between">
              </div>
            </div>
            <div class="progress mt-2" style="height: 10px;">
              <div class="progress-bar bg-success" role="progressbar" 
                [style]="{width: getPreparationProgress(order)}"
                [attr.aria-valuenow]="getPreparationProgress(order)" 
                aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
