<div class="mt-4 pt-2 container">
  <h2 class="pb-3">Orders</h2>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active d-flex align-items-center" [class.active]="activeTab === 'new'"
        (click)="getOrders(OrderStatus.New)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-plus-circle-fill me-2" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
        </svg>
        New
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" [class.active]="activeTab === 'preparing'"
        (click)="getOrders(OrderStatus.Preparing)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-stopwatch-fill me-2" viewBox="0 0 16 16">
          <path
            d="M6.5 0a.5.5 0 0 0 0 1H7v1.07A7.001 7.001 0 0 0 8 16a7 7 0 0 0 5.29-11.584.531.531 0 0 0 .013-.012l.354-.354.353.354a.5.5 0 1 0 .707-.707l-1.414-1.415a.5.5 0 1 0-.707.707l.354.354-.354.354a.717.717 0 0 0-.012.012A6.973 6.973 0 0 0 9 2.071V1h.5a.5.5 0 0 0 0-1h-3zm2 5.6V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 1 1 1 0z" />
        </svg>
        In Preparation
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" [class.active]="activeTab === 'done'"
        (click)="getOrders(OrderStatus.Done)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-check-circle-fill me-2" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>
        Ready
      </a>
    </li>
  </ul>
  <div class="container mt-4">
    <p *ngIf="orders.length === 0">
      No more orders here!
    </p>
    <div *ngIf="orders.length > 0" class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 mt-2" *ngFor="let order of orders; let i = index">
        <div class="card mb-3">
          <div class="card-header d-flex justify-content-between" [ngClass]="{ 'bg-success': activeTab === 'done' }">
            <small class="text-muted d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                [ngStyle]="{ 'color': activeTab === 'done' ? 'white' : null }" class="bi bi-clock me-2"
                viewBox="0 0 16 16">
                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
              </svg>
              <span [ngStyle]="{ 'color': activeTab === 'done' ? 'white' : null }">
                {{order.createdAt | date: 'shortTime'}}
              </span>
            </small>
            <button *ngIf="activeTab === 'new'" type="button" class="btn btn-sm btn-info" (click)="prepare(order._id)"
              [ngClass]="{ 'disabled': i !== 0 }">
              Prepare
            </button>
            <small *ngIf="activeTab === 'done'" class="text-muted d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                [ngStyle]="{ 'color': activeTab === 'done' ? 'white' : null }" class="bi bi-clock me-2"
                viewBox="0 0 16 16">
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
              </svg>
              <span [ngStyle]="{ 'color': activeTab === 'done' ? 'white' : null }">
                {{order.updatedAt | date:'shortTime'}}
              </span>
            </small>
          </div>
          <div class="card-body">
            <h5 class="card-title">Order #{{order.number}}</h5>
            <div *ngIf="activeTab === 'new' || activeTab === 'done'" class="mt-2">
              <div *ngFor="let item of order.items | groupItems" class="d-flex justify-content-between">
                <p class="card-text">{{item.count}}x {{item.name}}</p>
              </div>
            </div>
            <div *ngIf="activeTab === 'preparing'" class="progress mt-2" style="height: 10px;">
              <div class="progress-bar" role="progressbar" [style.width.%]="getPreparationProgress(order)"
                [style.backgroundColor]="getProgressBarColour(order)"
                [attr.aria-valuenow]="'getPreparationProgress(order)'" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
          <ul *ngIf="activeTab === 'preparing'" class="list-group list-group-flush">
            <li *ngFor="let item of order.items" class="list-group-item">
              <div class="d-flex justify-content-between align-items-center">
                <p class="m-0">{{item.name}}</p>
                <button *ngIf="item.status === 'new'" type="button" class="btn btn-sm btn-success"
                  (click)="done(order._id, item._id)">
                  Done
                </button>
                <svg *ngIf="item.status === 'done'" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="green" class="bi bi-check-lg me-2" viewBox="0 0 16 16">
                  <path
                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
