<div class="container mt-5 mb-2">
  <div class="row justify-content-center">
    <div class="col-8 col-md-4">
      <div class="width: 350px;">
        <div class="card shadow mt-2 p-4 login-container">
          <h2 class="fs-4 font-medium text-center">Login</h2>
          <div *ngIf="errorMessage" class="alert alert-danger mt-2" style="white-space: pre-wrap;">
            {{ errorMessage }}
          </div>
          <form #loginForm="ngForm" (submit)="loginForm.form.valid && onLogin()">
            <div class="mb-3 mt-3">
              <label for="username-input" class="form-label">Username</label>
              <input type="text" name="username" class="form-control" id="username-input" autocomplete="username"
                [(ngModel)]="loginRequest.username" required
                [ngClass]="{ 'is-invalid': loginForm.submitted && loginForm.controls['username'].invalid }" />
              <div *ngIf="loginForm.submitted && loginForm.controls['username'].invalid" class="invalid-feedback">
                <div *ngIf="loginForm.controls['username'].errors">Username is required</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="password-input" class="form-label">Password</label>
              <input type="password" class="form-control" id="password-input" [(ngModel)]="loginRequest.password"
                name="password" required
                [ngClass]="{ 'is-invalid': loginForm.submitted && loginForm.controls['password'].invalid }" />
              <div *ngIf="loginForm.submitted && loginForm.controls['password'].invalid" class="invalid-feedback">
                <div *ngIf="loginForm.controls['password'].errors">Password is required</div>
              </div>
            </div>
            <button type="submit" class="btn btn-success w-100">Submit</button>
          </form>
          <small class="text-center text-muted mt-3 fs-13">
            Don't have an account? <a routerLink="/users/register">Register</a>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
